.input-group-text {
  background-color: lightgrey;
  border: none;
}

.formControl {
  background-color: lightgrey;
}

.button-circle {
  background-color: lightgrey;
  border: none;
}

.button-submit {
  background-color: lightgrey;
  border: none;
}