.heading {
  text-align: center;
  position: static;
  padding-top: 35%;
  font-size: calc(1.4em + 1.4vw);
  color: white;
  font-family: 'Pacifico', cursive;
}

.card-style {
  border: none;
}

.overlay {
  background: radial-gradient(circle, rgba(69,69,69,0.501138952164009) 0%, rgba(69,69,69,0.18678815489749434) 66%, rgba(69,69,69,0.038724373576309756) 100%);
}
