.body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
